.Navbar {
  height: 60px;
  background: #025e73;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 30px;
}
.UserIcon {
  width: 150px;
  height: 50px;
  border: 1px solid #F2668B;
  border-radius: 10%;
  background-color: aliceblue;
  color: #F2668B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.LogOutButton{
  background-color: aliceblue; 
  color: #F2668B; 
  border: 2px solid #F2668B;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 10%;
  font-size: 20px;
}
.LogOutButton:hover {
  background-color: #F2668B;
  color: aliceblue;
}
